* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --unnaGreen: #95D3C2;
    --unnaOrange: #d39c95;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    /* margin: 24px; */
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: var(--unnaGreen); */
    /* background: url('/img/bg-pattern.png'); */
    /* background-color: var(--unnaGreen); */
    font-family: "vinyl", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    align-items: center;

}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    /* background-color: blue; */
}

section {
    position: relative;
    padding: 56px 24px;
    overflow-y: scroll;

    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--unnaGreen); */
}

.section-head {
    background: linear-gradient(var(--unnaGreen) 40%, var(--unnaOrange));
}

.section-photos {
    background: linear-gradient(var(--unnaOrange), var(--unnaGreen) 15%);

    /* background: black; */
    height: fit-content;
    padding-bottom: 160px;
}

.section-open {
    background: linear-gradient(var(--unnaGreen) 40%, var(--unnaOrange));
}

.logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: orange; */
}

.logo img {
    height: 250px;
    width: 250px;
}

.logo-text {
    margin-top: 16px;
    font-family: "vinyl", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    gap: 16px;
    position: relative;
    width: 100%;
}

.photo-item {
    position: relative;
    /* display: flex; */
    width: auto;

    /* overflow: hidden; */
}

.photo-item img {
    position: relative;
    border: 4px dotted white;
    border-radius: 48px;
    width: 100%;
    height: auto;
    object-fit: contain;
    
    /* aspect-ratio: 1 /1; */
}



.photo-text {
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left: -8px;
    background-color:white;
    color: var(--unnaGreen);
    padding: 4px;
}

.address, .open {
    width: 100%;
    margin-top: 16px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    /* background-color: antiquewhite; */
}

.address {
    font-size: 1.25rem;
}

.open {
    justify-content: end;
    text-align: start;
    font-size: 3rem;
}

.open-span:first-child, .open-span:last-child {
    font-size: 2rem;
}

.social {
    padding-top: 16px;
    flex: 1;
    width: 100%;
    gap: 8px;
    /* background-color: teal; */
    display: flex;
}

.social img {
    height: 50px;
}

/* Static background pattern applied to the entire viewport */
.pattern-background {
    /* padding: 24px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/bg-pattern.png');
    z-index: 0; /* Keep it behind the SVG */
    /* clip-path: circle(0% at 0% 0%);
    -webkit-clip-path: circle(0% at 0% 0%); */
    pointer-events: none;
}

.circle-container {
    position: absolute;
    height: 100%;
    width: 75%;
    /* background-color: orange; */
    pointer-events: none;
}

.circle {
    position: absolute;
    top: 90%;
    left: 50%;
    height: 10px;
    width: 10px;
    /* border-radius: 50%; */
    background: url('/img/bg-pattern.png');
    transition: 5s ease-in-out;
    z-index: 100;
    pointer-events: none; /* Ensure circles don't block interaction */
    /* filter: invert(1) sepia(1) saturate(10) hue-rotate(100deg); */
}

#circle1 {
    width: 10px;
    height: 10px;
    animation: moveCircle1 6s infinite ease-in-out alternate-reverse, 
    resizeCircle1 6s infinite ease-in-out;
}

@keyframes moveCircle1 {
    0% {
        top: 90%;
        left: 25%;
    }
    50% {
        top: 60%;
        left: 30%;
    }
    100% {
        top: 82%;
        left: 80%;
    }
}

@keyframes resizeCircle1 {
    0% {
        width: 10px;
        height: 10px;
    }
    50% {
        width: 125px;
        height: 125px;
        
    }
    100% {
        width: 10px;
        height: 10px;
    }
}

#circle2 {
    width: 20px;
    height: 20px;
    animation: moveCircle2 7s infinite ease-in-out alternate-reverse, 
    resizeCircle2 7s infinite ease-in-out;
    /* background-color: black; */
}

@keyframes moveCircle2 {
    0% {
        top: 80%;
        left: 35%;
    }
    50% {
        top: 60%;
        left: 50%;
    }
    100% {
        top: 80%;
        left: 60%;
    }
}

@keyframes resizeCircle2 {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 150px;
        height: 150px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

#circle3 {
    width: 20px;
    height: 20px;
    animation: moveCircle3 8.5s infinite ease-in-out alternate-reverse,
    resizeCircle3 8.5s infinite ease-in-out;
    /* backgrouxnd-color: aqua; */
}

@keyframes moveCircle3 {
    0% {
        top: 90%;
        left: 25%;
    }
    50% {
        top: 50%;
        left: 40%;
    }
    100% {
        top: 80%;
        left: 60%;
    }
}

@keyframes resizeCircle3 {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 140px;
        height: 140px;
    }
    100% {
        width: 15px;
        height: 15px;
    }
}


#wave {
    stroke: white;
    stroke-width: 50px;
}

.ticker-wrapper {
    position: absolute;
    display: flex;
    /* align-self: flex-end; */
    align-items: end;
    top: 0;
    /* bottom: 15%; */
    display: flex;
    width: 110%;
    height: 50px;
    /* scale: 75%; */
    /* background-color: rgb(133, 133, 163); */
    pointer-events: none;
}

.ticker-wrapper svg {
    height: auto;
    /* rotate: 10deg; */
    transform-origin: right;
}

.wave-text {
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: visible;
    /* stroke-width: 1px; */
    z-index: 500;
}

text {
    word-spacing: 1rem;
    letter-spacing: .25rem;
    font-size: 2.4rem;
    fill: var(--unnaGreen);
    /* fill: black; */
    transform: translateY(12px); /* Move text down */


}

/* @keyframes scrollText {
    0% {
        startOffset: 100%;
    }
    100% {
        startOffset: 0%;
    }
}

textPath {
    animation: scrollText 10s linear infinite;
} */

@media (min-width: 374px) {
    .logo img {
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 767px) {

    .section-head {
        align-items: start;
        justify-content: center;
    }

    .logo-wrapper {
        width: 65%;
    }
    
    .logo img {
        height: 450px;
        width: 450px;
    }
    
    .logo-text {
        font-size: 3rem;
    }

    .ticker-wrapper {
        /* top: 20px; */
        align-self: flex-end;
        width: 80%;
    }
    .ticker-wrapper svg {
        top: 150px;
        right: -50px;
        rotate: 25deg;
    }

    @keyframes moveCircle1 {
        0% {
            top: 90%;
            left: 75%;
        }
        50% {
            top: 50%;
            left: 80%;
        }
        100% {
            top: 82%;
            left: 90%;
        }
    }

    @keyframes moveCircle2 {
        0% {
            top: 90%;
            left: 75%;
        }
        50% {
            top: 50%;
            left: 70%;
        }
        100% {
            top: 90%;
            left: 90%;
        }
    }

    @keyframes moveCircle3 {
        0% {
            top: 90%;
            left: 85%;
        }
        50% {
            top: 40%;
            left: 90%;
        }
        100% {
            top: 80%;
            left: 95%;
        }
    }

    .section-open {
        padding-left: 80px;
    }

    .open {
        font-size: 4rem;
    }
}

@media (min-width: 1023px) {
    .ticker-wrapper {
        /* top: 20px; */
        align-self: flex-end;
        width: 70%;
    }
    .ticker-wrapper svg {
        top: 200px;
        right: -50px;
        rotate: 25deg;
    }
}