* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --unnaGreen: #95D3C2;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    /* margin: 24px; */
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: var(--unnaGreen); */
    /* background: url('/img/bg-pattern.png'); */
    /* background-color: var(--unnaGreen); */
    font-family: "vinyl", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    align-items: center;

}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    /* background-color: blue; */
}

section {
    padding: 56px 24px;
    overflow-y: scroll;

    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--unnaGreen);
    background: linear-gradient(var(--unnaGreen) 40%, pink);



}

section:last-child {
    background: linear-gradient(pink, var(--unnaGreen) 60%);

}


/* Static background pattern applied to the entire viewport */
.pattern-background {
    /* padding: 24px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/bg-pattern.png');
    z-index: 0; /* Keep it behind the SVG */
    clip-path: circle(0% at 0% 0%);
    -webkit-clip-path: circle(0% at 0% 0%);
    pointer-events: none;
}

.circle-container {
    position: absolute;
    height: 100%;
    width: 75%;
    /* background-color: orange; */
    pointer-events: none;
}


.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: auto;
    width: 100%;
    margin-bottom: 24px;
}

.logo img {
    height: 200px;
    width: 200px;
}

.logo-text {
    font-family: "vinyl", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* align-self: flex-start; */
    justify-self: start;
    /* background-color: aqua; */
}
.address, .open {
    width: 100%;
    margin-top: 16px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    /* background-color: antiquewhite; */
}

.address {
    font-size: 1.25rem;
}

.open {
    margin-top: 56px;
    flex: 0;
    text-align: start;
    font-size: 3rem;
}

.social {
    margin-top: 16px;
    flex: 1;
    width: 100%;
    gap: 8px;
    /* background-color: teal; */
    display: flex;
}

.social img {
    height: 50px;
    fill: orange;
    stroke: orange;
}

.circle {
    position: absolute;
    top: 56px;
    left: 32px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: url('/img/bg-pattern.png');
    transition: 5s ease-in-out;
    z-index: 100;
    pointer-events: none; /* Ensure circles don't block interaction */
    /* filter: invert(1) sepia(1) saturate(10) hue-rotate(100deg); */
}

.circle.move {
    top: 32px;
}

#circle1 {
    width: 100px;
    height: 100px;
    animation: moveCircle1 5s infinite ease-in-out alternate-reverse, 
    resizeCircle1 5s infinite ease-in-out;
}

#circle2 {
    width: 120px;
    height: 120px;
    animation: moveCircle2 6s infinite ease-in-out alternate-reverse, 
    resizeCircle2 6s infinite ease-in-out;
    /* background-color: black; */
}

#circle3 {
    width: 120px;
    height: 120px;
    animation: moveCircle3 7.5s infinite ease-in-out alternate-reverse,
    resizeCircle2 7.5s infinite ease-in-out;
    /* backgrouxnd-color: aqua; */
}


@keyframes moveCircle1 {
    0% {
        top: 90%;
        left: 25%;
    }
    50% {
        top: 40%;
        left: 50%;
    }
    100% {
        top: 82%;
        left: 80%;
    }
}

@keyframes moveCircle2 {
    0% {
        top: 80%;
        left: 35%;
    }
    50% {
        top: 60%;
        left: 50%;
    }
    100% {
        top: 80%;
        left: 60%;
    }
}

@keyframes moveCircle3 {
    0% {
        top: 90%;
        left: 25%;
    }
    50% {
        top: 50%;
        left: 40%;
    }
    100% {
        top: 85%;
        left: 50%;
    }
}

@keyframes resizeCircle1 {
    0% {
        width: 10px;
        height: 10px;
    }
    50% {
        width: 150px;
        height: 150px;
        
    }
    100% {
        width: 10px;
        height: 10px;
    }
}

@keyframes resizeCircle2 {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 180px;
        height: 180px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

/* Make circles to "cut out" sections of the background */
@keyframes updateClipPath {
    0% {
        clip-path: circle(0% at 0% 0%);
        -webkit-clip-path: circle(0% at 0% 0%);
    }
    50% {
        clip-path: circle(40% at 10% 10%);
        -webkit-clip-path: circle(40% at 10% 10%);
    }
    100% {
        clip-path: circle(0% at 0% 0%);
        -webkit-clip-path: circle(0% at 0% 0%);
    }
}

.ticker-wrapper {
    position: absolute;
    /* bottom: 15%; */
    display: flex;
    width: 110%;
    height: 150px;
    /* scale: 75%; */
    /* background-color: rgb(133, 133, 163); */
}
.wave-text {
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: visible;
    /* stroke-width: 1px; */
    z-index: 500;
}

text {
    word-spacing: 1rem;
    letter-spacing: .25rem;
    font-size: 2.4rem;
    fill: var(--unnaGreen);
    /* fill: black; */
    transform: translateY(4px); /* Move text down */


}

/* @keyframes scrollText {
    0% {
        startOffset: 100%;
    }
    100% {
        startOffset: 0%;
    }
}

textPath {
    animation: scrollText 10s linear infinite;
} */