* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --unnaGreen: #95D3C2;
}

body {
    background-color: var(--unnaGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    font-family: "vinyl", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.logo-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 400px;
    width: 300px;
    /* background-color: rgb(132, 132, 116); */
}

.logo__bulle {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 300px;
    width: 100%;
    /* border: 1px solid rebeccapurple; */
    /* background-color: blue; */
}

.logo__bulle svg {
    position: absolute;
    width: 90%;
    height: auto;
}

#unnaPattern {
    height: 200px;
}

.unna-dots {
    position: relative;
    width: 200%;
    height: 200%;
    scale: 200%;
    x: -50%;
    y: -50%;
}

#unna_bulle_kontur-bg-path {
    /* fill: none; */
    /* stroke: black; */
    stroke-width: 2;
    animation: morph 15s infinite ease-in-out;
}

@keyframes morph {
    25% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-54.47,9.61-82.75,33.01C23.83,59.95.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
    /* top left out*/
    45% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-62.02,2.06-90.3,25.46C16.28,52.4.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
    /* top left in */
    50% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-54.47,21.33-82.75,44.73C23.83,71.66.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
    /* bottom right in */
    55% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-54.47,9.61-82.75,33.01C23.83,59.95.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,31.79-17.2,46.26-32.22,15.08-15.84,38.69-23.08,48.03-42.91,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
    
    65% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-54.47,21.33-82.75,44.73C23.83,71.66.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
    75% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04.56-12.79,3.1-18.63C211.33,12.09,171.81.91,133.38,0c-37.52.3-54.47,9.61-82.75,33.01C23.83,59.95.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z")
    }
    90% {
        d: path("M188.96,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.4,21.72,170.37,1.74,133.39,0c-37.52.3-54.47,9.61-82.75,33.01C23.83,59.95.88,83.89.02,126.49c-.27,16.62,2.29,25.32,13.42,37.12,10.7,11.34,19.92,12.81,45.59,13.73,2.17-.53,23.04,10.65,24.96,11.58,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }

    100% {
        d: path("M188.95,85.58c-2.18-1.88-2.74-3.39-1.88-6.23,1.82-6.04,2.59-12.28,3.1-18.63C194.39,21.72,170.36,1.74,133.38,0c-37.52.3-54.47,9.61-82.75,33.01C23.83,59.95.87,83.89.01,126.49c-.27,16.62,3.69,24.15,13.42,37.12,14.62,19.4,41.01,28.02,64.58,24.65,2.17-.53,4.04-.27,5.97.67,4.62,2.24,9.33,3.89,14.55,4.5,21.02,2.42,42.24-6.75,56.71-21.77,15.08-15.84,28.24-33.53,37.58-53.36,5.72-9.4,4.47-25.2-3.88-32.72Z");
    }
}

.unna__text {
    background-color: antiquewhite;
}


.unna_bulle_kontur-text {
    fill: none;
}

.unna__text__letter {
    fill: var(--unnaGreen);
}

.cls-3 {
    fill: url(#Unna_Vit);

}

.logo__tagline {
    /* margin-top: 16px; */
    flex: 1;
    font-size: 2rem;
    text-align: center;
}